<li class="nav-item active">
   <span class="fa-layers fa-fw fa-2x">
       <a class="nav-link active" href="{{ path('checkout') }}"><i class="fas fa-shopping-cart"></i></a>
   <span class="fa-layers-counter fa-lg" style="background:Tomato">{{ count }}</span>
   </span>
</li>