<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>
            {% block title %}
                Big Food
            {% endblock %}
        </title>
        <style>
            nav a img {
                transition:all .5s;
            }

            nav a:hover img {
                transform: rotate(360deg);
            }
            footer img {
                transition:all .5s;
            }

            footer img:hover {
                transform: rotate(360deg);
            }
        </style>
        {% block style %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('img/hamburger.png') }}"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}"><i class="fas fa-home"></i> Home</a>
                        </li>

                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-utensils"></i> Our restaurants</a>
                            {{ render(controller('RestaurantBundle:Restaurant:restaurantsList')) }}
                        </li>

                    </ul>

                    <ul class="navbar-nav my-2 my-md-0">

                        {% if is_granted("ROLE_MANAGER") %}
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cogs"></i> Administration</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown09">
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <a class="dropdown-item" href="{{ path('create_restaurant') }}"><i class="fas fa-plus-circle"></i> Create a new restaurant</a>
                                        <a class="dropdown-item" href="{{ path('add_recipe_type') }}"><i class="fas fa-plus-circle"></i> Add a new recipe type</a>
                                        <hr>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('create_recipe') }}"><i class="fas fa-plus"></i> Create a new recipe</a>
                                    <a class="dropdown-item" href="{{ path('manage_recipe') }}"><i class="fas fa-cog"></i> Manage recipes</a>
                                    <hr>
                                    <a class="dropdown-item" href="{{ path('manage_orders') }}"><i class="fas fa-cog"></i> Manage orders</a>
                                </div>
                            </li>
                        {% endif %}

                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }}
                                {% else %}
                                    Account
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}"><i class="fas fa-cog"></i> Profile</a>
                                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> Log into your account</a>
                                    <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}"><i class="fas fa-user-plus"></i> Create your account</a>
                                {% endif %}
                            </div>
                        </li>

                        {{ render(controller('BigFoodBundle:BigFood:cartNumber')) }}

                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="text-center">
                        <span class="alert alert-{{ label }}">{{ message }}</span>
                        <br><br>
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}
                <h1 class="text-center">Welcome to Big Food !</h1>
                <br>
                <img class="img-fluid" src="{{ asset('img/bigfood.jpg') }}"/>
            {% endblock %}
            <footer class="text-center text-secondary">
                <hr>
                <ul class="list-inline" style="margin-bottom: 0.2rem;">
                    <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">Contact-us</a></li>
                    <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">Sitemap</a></li>
                </ul>
                <ul class="list-inline" style="margin-bottom: 0.2rem;">
                    <li class="list-inline-item"><a class="text-secondary btn" href="#"><i class="fab fa-facebook-square fa-lg"></i></a></li>
                    <li class="list-inline-item"><a class="text-secondary btn" href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                    <li class="list-inline-item"><a class="text-secondary btn" href="#"><i class="fab fa-snapchat fa-lg"></i></a></li>
                    <li class="list-inline-item"><a class="text-secondary btn" href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                </ul>
                <div>
                    <p><small>&copy; {{ "now"|date("Y") }} - BigFood</small></p>
                </div>
            </footer>
        </div>
    </body>

    {% block script %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
</html>