{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Proceed to checkout
{% endblock %}

{% block body %}
    <h1 class="text-center">Order your food now !</h1>
    <br>
    {% if cart is defined and cart is not empty %}
    <p class="text-center">From {{ cart.restaurant.name }}</p>
    <br>
        <div class="table-responsive">
            <table class="table text-left">
                <tr class="thead-light">
                    <th colspan="4">Your order</th>
                </tr>
                {% for recipe in cart.recipes %}
                    <tr class="table-hover">
                        <td>{{ recipe.name }}</td>
                        <td class="font-italic text-secondary">{{ recipe.description }}</td>
                        <td class="font-italic text-secondary">{{ recipe.price }} €</td>
                        <td><a href="{{ path('remove_from_cart', {'recipe': recipe.id, 'cart': cart.id}) }}" class="btn btn-danger btn-block" title="Remove from cart"><i class="fas fa-times"></i></a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="font-weight-bold">TOTAL :</td>
                    <td class="font-weight-bold">{{ cart.getTotalPrice }} €</td>
                    <td><a href="{{ path('proceed_checkout', {'id': cart.id}) }}" class="btn btn-info btn-block" title="Order"><i class="fas fa-cart-arrow-down"></i></a></td>
                </tr>
            </table>
        </div>
    {% else %}
        <p class="text-center">Your cart is empty !</p>
    {% endif %}
{% endblock %}