{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Manage Orders
{% endblock %}

{% block body %}
    <h1 class="text-center">Manage orders to {{ restaurant.name }}</h1>
    <br>
    {% if carts is not empty %}
        <div class="table-responsive">
            <table class="table table-hover text-left">
                <thead>
                    <tr class="thead-light">
                        <th>Date</th>
                        <th>Username</th>
                        <th>Order</th>
                        <th>Price</th>
                        <th>Picked-up ?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td>{{ cart.date|date("d/m/Y - H:i") }}</td>
                            <td>{{ cart.owner.username }}</td>
                            <td>
                                <ul class="list-group">
                                    {% for recipe in cart.recipes %}
                                        <li>{{ recipe.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ cart.totalPrice }}€</td>
                            <td><a class="btn btn-info" href="{{ path('archive_order', {'id': cart.id}) }}" title="Archive"><i class="fas fa-file-archive"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No pending orders</p>
    {% endif %}
{% endblock %}
