{% extends "@FOSUser/layout.html.twig" %}

{% block style %}
    <style>
        .form-edit {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-edit .checkbox {
            font-weight: 400;
        }
        .form-edit .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-edit .form-control:focus {
            z-index: 2;
        }
        .form-edit input[type="password"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        button{
            margin-top:10px;
        }
    </style>
{% endblock %}

{% block title %}
    Edition
{% endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}