{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Your orders
{% endblock %}

{% block body %}
    <h1 style="display: none;">Your orders</h1>

    <h2 class="text-center">Pending orders</h2>
    <br>
    {% if pending is not empty %}
        <div class="table-responsive">
            <table class="table table-hover text-left">
                <thead>
                <tr class="thead-light">
                    <th>Date</th>
                    <th>Restaurant</th>
                    <th>Order</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in pending %}
                    <tr>
                        <td>{{ cart.date|date("d/m/Y - H:i") }}</td>
                        <td>{{ cart.restaurant.name }}</td>
                        <td>
                            <ul class="list-group">
                                {% for recipe in cart.recipes %}
                                    <li>{{ recipe.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ cart.totalPrice }}€</td>
                        <td>Pending</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No pending orders</p>
    {% endif %}

    <hr>
    <h2 class="text-center">Archived orders</h2>
    <br>
    {% if archived is not empty %}
        <div class="table-responsive">
            <table class="table table-hover text-left">
                <thead>
                <tr class="thead-light">
                    <th>Date</th>
                    <th>Restaurant</th>
                    <th>Order</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in archived %}
                    <tr>
                        <td>{{ cart.date|date("d/m/Y - H:i") }}</td>
                        <td>{{ cart.restaurant.name }}</td>
                        <td>
                            <ul class="list-group">
                                {% for recipe in cart.recipes %}
                                    <li>{{ recipe.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ cart.totalPrice }}€</td>
                        <td>Archived</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No archived orders</p>
    {% endif %}
{% endblock %}