{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <span class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
    <br><br>
{% endif %}

<div class="text-center">
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <div class="form-group">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
        </div>

        <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" placeholder="Username" value="{{ last_username }}" required autofocus />

        <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" placeholder="Password" required />

        <div class="checkbox mb-3">
            <label>
                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" checked /> Remember me
            </label>
        </div>
        <label class="sr-only" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <button class="btn btn-lg btn-secondary btn-block" type="submit" id="_submit" name="_submit">Sign in</button>
    </form>
</div>