<div class="text-center">
    <h1>Edit your account's information</h1>
    <form name="fos_user_profile_form" method="post" action="{{ path('fos_user_profile_edit') }}" class="form-edit">
        <div id="fos_user_profile_form">
            <label class="sr-only control-label required" for="fos_user_profile_form_username">Username</label>
            <input autofocus placeholder="Username" type="text" id="fos_user_profile_form_username" name="fos_user_profile_form[username]" required maxlength="180" pattern=".{2,}" class="form-control" value="{{ app.user.username }}" />

            <label class="sr-only control-label required" for="fos_user_profile_form_email">Email</label>
            <input placeholder="Email" type="email" id="fos_user_profile_form_email" name="fos_user_profile_form[email]" required class="form-control" value="{{ app.user.email }}" />

            <label class="sr-only control-label required" for="fos_user_profile_form_current_password">Current password</label>
            <input placeholder="Password" type="password" id="fos_user_profile_form_current_password" name="fos_user_profile_form[current_password]" required class="form-control" />

            {% if csrf_token('profile') %}
                <input type="hidden" id="fos_user_profile_form__token" name="fos_user_profile_form[_token]" value="{{ csrf_token('profile') }}" />
            {% endif %}
        </div>
        <div>
            <button class="btn btn-lg btn-secondary btn-block" type="submit" id="_submit" name="_submit">Edit</button>
        </div>
    </form>
</div>