{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1 class="text-center">{{ app.user.username }}'s profile</h1>

    <a class="btn btn-light btn-block" href="{{ path('show_user_orders') }}"><i class="fas fa-shopping-cart"></i> Your orders</a>
    <a class="btn btn-light btn-block" href="{{ path('fos_user_profile_edit') }}"><i class="fas fa-edit"></i> Edit your account's informations</a>
    <a class="btn btn-light btn-block" href="{{ path('fos_user_change_password') }}"><i class="fas fa-key"></i> Change your password</a>
{% endblock fos_user_content %}