{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    New restaurant
{% endblock %}

{% block body %}
    <h1 class="text-center">Create your new restaurant</h1>
    {{ form(form) }}
{% endblock %}