{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Edit recipe
{% endblock %}

{% block body %}
    <h1 class="text-center">Edit a recipe</h1>
    <br>
    {{ form(form) }}
{% endblock %}