{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Manage menu
{% endblock %}

{% block body %}
    <h1 class="text-center">Manage {{ restaurant.name }}'s menu</h1>
    <br>
    <div class="text-center">
        <a href="{{ path('view_menu', {'id': restaurant.id, 'type': 'all'}) }}">Back to the menu</a>
    </div>
    <br><br>
    <div class="card-deck">
        {% for recipe in recipes %}
            <div class="mb-3 col-sm-6 col-md-6 col-lg-3 col-xs-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal text-center">{{ recipe.name }}</h6>
                    </div>
                    <div class="card-body">
                        <img style="width:150px;height:150px;display:block;margin:auto;" class="card-img" src="{{ asset(recipe.image.webPath) }}" />
                        <br>
                        {% if restaurant.hasRecipe(recipe) %}
                            <a class="btn btn-block text-secondary"
                               href="{{ path('remove_recipe_from_menu', {'restaurant': restaurant.id, 'recipe': recipe.id}) }}" title="Remove">
                                <i class="fas fa-times fa-2x"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-block text-info"
                               href="{{ path('add_recipe_to_menu', {'restaurant': restaurant.id, 'recipe': recipe.id}) }}" title="Add">
                                <i class="fas fa-toggle-on fa-2x"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}