{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Manage recipe
{% endblock %}

{% block body %}
    <h1 class="text-center">Manage recipes</h1>
    <br>
    <div class="card-deck">
        {% for recipe in recipes %}
            <div class="mb-3 col-sm-6 col-md-6 col-lg-3 col-xs-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal text-center">{{ recipe.name }}</h6>
                    </div>
                    <div class="card-body text-center">
                        <img style="width:150px;height:150px;display:block;margin:auto;" class="card-img" src="{{ asset(recipe.image.webPath) }}" />
                        <hr>
                        <p class="text-italic text-secondary">{{ recipe.description }}</p>
                        <p>{{ recipe.price }} €</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info" href="{{ path('edit_recipe', {'id': recipe.id}) }}" title="Edit "><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-danger" href="{{ path('delete_recipe', {'id': recipe.id}) }}" title="Delete"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}