<div class="dropdown-menu" aria-labelledby="dropdown09">
    {% for restaurant in restaurants %}
        <a class="dropdown-item" href="{{ path('view_restaurant', {'id': restaurant.id, 'name': restaurant.name}) }}">{{ restaurant.name }}</a>
    {% endfor %}
</div>