{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Add a manager to {{ restaurant.name }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Add a manager to {{ restaurant.name }}</h1>
    <br>
    <form style="width:25%;margin:auto;" method="POST">
        <div class="text-center form-group">
            <label class="sr-only" for="manager">Choose a manager</label>
            <select class="form-control" id="manager" name="manager">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-info btn-block" type="submit" value="Submit">
    </form>
{% endblock %}