{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    {{ restaurant.name }}'s menu
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ restaurant.name }}'s menu</h1>
    <div class="text-center">
        <a class="btn btn-info" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'all' }) }}">All</a>
        <a class="btn btn-info" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'Burgers' }) }}">Burgers</a>
        <a class="btn btn-info" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'Drinks' }) }}">Drinks</a>
        <a class="btn btn-info" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'Desserts' }) }}">Desserts</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (app.user.username == restaurant.manager.username) %}
            <a class="btn btn-info" href="{{ path('manage_menu', {'id': restaurant.id}) }}">
                <i class="fas fa-cog"></i>
            </a>
        {% endif %}
    </div>
    <br>
    {% if recipes is not defined %}
        <h2>Burgers</h2>
        <br>
        <div class="card-deck">
            {% for burger in burgers %}
                {% if restaurant.hasRecipe(burger) %}
                    <div class="mb-3 col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h6 class="my-0 font-weight-normal text-center">{{ burger.name }}</h6>
                            </div>
                            <div class="card-body">
                                <img style="width:150px;height:150px;display:block;margin:auto;" class="card-img" src="{{ asset(burger.image.webPath) }}" />
                                <p class="text-italic text-secondary text-center">{{ burger.description }}</p>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">{{ burger.price }} €</p>
                                <a href="{{ path('add_recipe_to_cart', {'recipe': burger.id, 'restaurant': restaurant.id}) }}" class="btn btn-block btn-info"><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <hr>

        <h2>Drinks</h2>
        <br>
        <div class="card-deck">
            {% for drink in drinks %}
                {% if restaurant.hasRecipe(drink) %}
                    <div class="mb-3 col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h6 class="my-0 font-weight-normal text-center">{{ drink.name }}</h6>
                            </div>
                            <div class="card-body">
                                <img style="width:150px;height:150px;display:block;margin:auto;" class="card-img" src="{{ asset(drink.image.webPath) }}" />
                                <p class="text-italic text-secondary text-center">{{ drink.description }}</p>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">{{ drink.price }} €</p>
                                <a href="{{ path('add_recipe_to_cart', {'recipe': drink.id, 'restaurant': restaurant.id}) }}" class="btn btn-block btn-info"><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <hr>

        <h2>Desserts</h2>
        <br>
        <div class="card-deck">
            {% for dessert in desserts %}
                {% if restaurant.hasRecipe(dessert) %}
                    <div class="mb-3 col-sm-6 col-md-6 col-lg-3 col-xs-12">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h6 class="my-0 font-weight-normal text-center">{{ dessert.name }}</h6>
                            </div>
                            <div class="card-body">
                                <img style="width:150px;height:150px;display:block;margin:auto;" class="card-img" src="{{ asset(dessert.image.webPath) }}" />
                                <p class="text-italic text-secondary text-center">{{ dessert.description }}</p>
                            </div>
                            <div class="card-footer">
                                <p class="text-center">{{ dessert.price }} €</p>
                                <a href="{{ path('add_recipe_to_cart', {'recipe': dessert.id, 'restaurant': restaurant.id}) }}" class="btn btn-block btn-info"><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <h2>{{ type }}</h2>
        <br>
        <div class="card-deck">
        {% for recipe in recipes %}
            {% if restaurant.hasRecipe(recipe) %}
                <div class="mb-3 col-sm-6 col-md-6 col-lg-3 col-xs-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h6 class="my-0 font-weight-normal text-center">{{ recipe.name }}</h6>
                        </div>
                        <div class="card-body">
                            <img style="width:150px;height:150px;display:block;margin:auto;" class="card-img" src="{{ asset(recipe.image.webPath) }}" />
                            <p class="text-italic text-secondary text-center">{{ recipe.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-center">{{ recipe.price }} €</p>
                            <a href="{{ path('add_recipe_to_cart', {'recipe': recipe.id, 'restaurant': restaurant.id}) }}" class="btn btn-block btn-info"><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}