{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    {{ restaurant.name }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Welcome to {{ restaurant.name }}'s page</h1>
    <br>
    <div>
        <p>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-info btn-sm" href="{{ path('set_restaurant_manager', {'id': restaurant.id}) }}">
                    <i class="fas fa-wrench fa-sm"></i></a>
            {% endif %}
            <strong> Restaurant's manager : </strong>
            {% if restaurant.manager is not null %}
                {{ restaurant.manager.username }}
            {% endif %}
        </p>
        <br>
        <a class="btn btn-block btn-info" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'all'}) }}">Check our restaurant's menu</a>
        <br>
    </div>

    <hr>
    <div class="text-center">
        <address>
            <i class="fas fa-map-marker-alt fa-3x"></i>
            <br>
            <strong>{{ restaurant.name }}</strong>
            <br>
            {{ restaurant.address }}
            <br>
            {{ restaurant.zipcode }}
            {{ restaurant.town }}
        </address>
    </div>
{% endblock %}